/* Body Element */
body{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/brightideapic.jpg);
    background-size: cover;
    background-position: center;
    color: #fff !important;
    font-family:'Times New Roman', Times, serif
}

a{
    text-decoration: none;
}
.container{
    position: relative;
    top: 100px;
}
/* End of Body Element */


/* Header */
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
img{
    border: 2px solid whitesmoke;
    border-radius: 100px;
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: .3s;
    color: #fff;
}
.nav-area li a:hover{
    color: goldenrod;
}
.btn-area{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px; 
    border-radius: 50px;
    background: #000;
}

/* End of Header */



/* Title */
.services h1{
    margin: 90px auto;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    top: -60px;
    
}

/* h1:after{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 4px;
    margin: auto;
} */

/* End of Title */

/* ICONS */
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 50px;
    width: 40x;
   
}

/* box shadowing */
.col-md-3:hover{
    box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
    cursor: pointer;
}